/*
	COLORS
*/
.loading,
body {
  background-color: #aad400;
  color: #0d1100;
}
.bar {
  background-color: #d4ff2a;
}
.title,
.score,
.timer {
  color: #aad400;
}
.bubble,
.sheet {
  background-color: #edfff6;
  color: #0d1100;
}
.stick,
.line {
  background-color: #0d1100;
}
button {
  background-color: #edfff6;
  color: #0d1100;
}
button:hover {
  background-color: #ffffff;
  color: #000000;
}
/*
	FONTS 
*/
html {
  font-size: 62.5%;
}
body {
  font-family: 'Permanent Marker', cursive;
}
.title,
.timer,
.score {
  font-size: 40px;
  font-size: 4rem;
}
button {
  font-size: 20px;
  font-size: 2rem;
}
button:hover {
  font-size: 21px;
  font-size: 2.1rem;
}
.buttons-container > button {
  font-size: 30px;
  font-size: 3rem;
}
.buttons-container > button:hover {
  font-size: 31px;
  font-size: 3.1rem;
}
.bubble {
  font-size: 30px;
  font-size: 3rem;
}
.loading {
  font-size: 50px;
  font-size: 5rem;
  text-align: center;
  vertical-align: middle;
}
/*
	POSITIONS AND SIZES
*/
html,
body {
  height: 100%;
}
.loading {
  position: fixed;
  top: 40%;
  left: 0;
  width: 100%;
  height: 100%;
}
.container {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
}
.preload {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.wrapper {
  display: table;
  position: relative;
  height: 100%;
}
.v-wrapper {
  display: table-cell;
  vertical-align: middle;
  height: 600px;
}
.content {
  width: 960px;
  height: 600px;
  position: relative;
  z-index: 1;
}
.bar {
  width: 100%;
  height: 50px;
  position: fixed;
}
.bar.top {
  top: 0;
}
.bar.bottom {
  bottom: 0;
}
.title {
  padding: 5px 10px 0 0;
  text-align: right;
}
.score {
  position: fixed;
  top: 5px;
  left: 10px;
}
.remaining-note-seconds,
.remaining-global-seconds {
  position: fixed;
  bottom: 5px;
}
.remaining-note-seconds {
  left: 10px;
}
.remaining-global-seconds {
  right: 10px;
}
.bubble {
  position: absolute;
  height: 100px;
  width: 925px;
  left: 0;
  top: 50px;
  padding: 15px;
}
.tip {
  position: absolute;
  height: 100px;
  right: 0;
  bottom: -80px;
}
.buttons-container {
  position: absolute;
  height: 250px;
  left: 0;
  top: 250px;
}
.buttons-container > button {
  width: 250px;
  height: 50px;
  display: block;
}
.sheet-container {
  position: absolute;
  width: 570px;
  height: 300px;
  left: 0;
  top: 225px;
}
.note-buttons-container {
  position: absolute;
  width: 570px;
  left: 0;
  height: 40px;
  top: 530px;
}
.note-buttons-container > button {
  height: 100%;
  width: 13.428571428571429%;
}
.sheet {
  position: relative;
  height: 100%;
  width: 100%;
}
.key {
  position: absolute;
  left: 10%;
}
.key.G {
  height: 90%;
  top: 8%;
}
.key.F {
  height: 40%;
  top: 24%;
}
.note {
  position: absolute;
  left: 35%;
  height: 50%;
}
.stick {
  position: absolute;
  left: 35%;
}
.line {
  position: absolute;
  left: 5%;
  width: 90%;
}
.line.i1,
.line.i7 {
  display: none;
}
.face {
  position: absolute;
  bottom: 0;
  right: 0;
}
/*
	SHAPES, MARGINS, PADDINGS
*/
.wrapper {
  margin: 0 auto;
}
button {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.buttons-container > button {
  margin-bottom: 10px;
}
.note-buttons-container > button {
  margin-top: 5px;
  margin-right: 5px;
}
.note-buttons-container > button:last-child {
  margin-right: 0;
}
.line {
  margin: 0;
  border: 0;
  height: 2%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.stick {
  width: 2px;
  height: 50%;
}
.bubble,
.sheet {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
/*
	ICONS, CURSORS
*/
.clickable {
  cursor: pointer;
}
button {
  cursor: pointer;
}
.note {
  cursor: pointer;
}
